.App {
  text-align: center;
}

#header{
  background: lightblue;
  height: 40vh;
  padding: 0px;
  width: 100%;
}
#main-container
{
  margin: auto;
  min-height: 100vh;
}

.card-list
{
  margin: 0 10em 0 10em;
  background-color: grey;

}

.ranking{
  height:600px;
  width:600px;
  margin: auto;

  padding:10px;
}