.card{
    margin:2rem;
    max-width: 400px;
}

.card-content{
    text-align: left;
}

.card-toolbar{
    background:black;
    color:white;
    text-align: right;
    padding:.5rem;
    border-top-left-radius: 9px;
}

.card-header{
    color:#707070;
}

.card-description{
    font-size: 1rem;
    color:#707070;
    justify-content: left;
}

.card-description h4{
    color:black;
    text-align: left;

}

.card-points{
    font-size: 1.5rem;
    font-weight: 700;
    color:#707070;
}

.MuiCardActions-root{
    justify-content: center;
}